<div class="converter">
    <h2>Currency Converter</h2>
    <form [formGroup]="form" (ngSubmit)="convert()" class="converter-form">
        <!-- Input field for the amount -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Amount</mat-label>
            <input matInput formControlName="amount" id="amount" type="number" min="1" placeholder="Enter amount" />
        </mat-form-field>      

        <!-- Dropdown for the base currency -->
        <mat-form-field appearance="outline" class="half-width">
            <mat-label>From</mat-label>
            <mat-select formControlName="from" id="from">
                @for (currency of currencies(); track currency) {
                <mat-option [value]="currency">
                    {{ currency }}
                </mat-option>
                }
                @empty {
                <mat-option disabled>
                    No currencies available
                </mat-option>
                }
            </mat-select>
        </mat-form-field>

        <!-- Dropdown for the target currency -->
        <mat-form-field appearance="outline" class="half-width">
            <mat-label>To</mat-label>
            <mat-select formControlName="to" id="to">
                @for (currency of currencies(); track currency) {
                <mat-option [value]="currency">
                    {{ currency }}
                </mat-option>
                }
                @empty {
                <mat-option disabled>
                    No currencies available
                </mat-option>
                }
            </mat-select>
        </mat-form-field>

        <!-- Submit button -->
        <button mat-raised-button color="primary" class="convert-btn" type="submit" [disabled]="!form.valid">
            Convert
        </button>
    </form>

    <!-- Display the conversion result -->
    @if (result() !== null){
    <div class="result">
        <p>Converted Amount: <span>{{ result() }}</span></p>
    </div>
    }
</div>